.glow-button {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    font-weight: 600;
    color: floralwhite;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.glow-button::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 0.25rem;
    background: linear-gradient(45deg, #ffffff, #6700ff, #ff0077, #ffffff);
    background-size: 300% 300%;
    animation: glowing 2s linear infinite;
    z-index: -1;
}

@keyframes glowing {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
